extends layout 

block content 

    h1 #{design.name}
    h4 #{design.descr}

    div(style='margin-top:20px;')

        h4 Part Numbers:

        dl 
            each drill in design_drills 
                dt 
                    a(href=drill.url) #{drill.part_num} 
                        span.text-danger - #{drill.descr}

            else 
                p This design has no record.

